body {
	font:15px Arial, Helvetica;
	padding: 0;
	margin:0;
	background-color: #E6E6E6;
}

.cabecera{
	background-color: #A1E4F8;
	height: 168px;
	text-align: center;
	padding: 10px 5px 0px 10px;
	border-bottom: 5px solid #1293d4;

}
.cabecera img{
	width: 10%;
	float: left;
	border-bottom: 5px solid #1293d4;

}
.titulo{
	font-size: 1.4cm;

}

.menu{
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}
.menu  li{
	display: inline-block;
}

.menu  li a{
	color: #000102;
	display: block;
	padding: 20px 40px;
	text-decoration: none;
}


.menu  li a:hover{
	background-color: #0587AD; 
}

.contenedor{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
.imgP{
	min-height: 400px;
	background: url(../img/fondo.JPG) no-repeat;
	text-align: center;
	color: #fff;
}

.imgP h1{
	margin-top: 100px;
	font-size: 55px;
	font: oblique bold 120% cursive;
}
.imgP  p{
	font-size: 20px;
	color: #1293d4;
	font: oblique bold 120% cursive;

}
.Educa{
	padding: 15px;
	color: #fff;
	background:#A1E4F8;
}

#temas1{
	margin-top: 20px;

}
#temas1 h1{
	text-align:center;
	font: oblique bold 120% cursive;
}
#temas1 .Tema1{
	float: left;
	text-align:center;
	width: 30%;
	padding: 100px;
}
#temas1 .Tema1 img{
	width: 400px;
}

#video{
	margin-top: 10px;
	width: 60%;
	padding: 5px;
}

#video .video1 iframe{
	width: 700px;
	height: 400px;

}



#temas2{
	margin-top: 20px;


}
#temas2 h1{
	text-align:center;
	font: oblique bold 120% cursive;
}
#temas2 .Tema2{
	float: left;
	text-align:center;
	width: 25%;
	padding: 20px;
	
}
#temas2 .Tema2 img{
	width: 30px;
}

#video{
	margin-top: 10px;
	width: 60%;
	padding: 5px;
}
#temas2 .Tema2 img{
	width:250px;
    height:25s0px;
	border-radius:150px;
}


footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background-color: #1293d4;
	text-align:center;
	font: oblique bold 120% cursive;
}
.contenedor2{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
h3{
	font: oblique bold 120% cursive;
}